
/* przyciski do zwijania*/
.collapsible{
/* background-color: #869791; */
 background-color: #015247;
 color:#444;
 cursor: pointer;
 width: 100%;
 border: none;
 margin: none;
 text-align: left;
 padding: 0 15 0 10;
 outline: none;
 font-size: 15px;
 border-radius: 0;
 box-sizing: border-box;
 }
/* zmien kolor  buttonu po najechaniu i kliknieciu*/
.active, .Lvl2:hover { 
 background-color:teal;
}
/*elementy zwijanych divów*/
.content {
 padding: 0 0px;
 margin: 0 0 0 0px;
 display: none;
 overflow: hidden;
 border-radius: 0;
}
/*Całe menu */
nav {
   float: left;
   width: 18%;
   height: 100%;
   position: absolute;
   overflow: visible;
   }  
.Lvl1 {
 background-color: #043a32;
 border-width: 1px 0px 1px 0px; 
 height: 37px;
 text-overflow: ellipsis;
}
.Lvl2 {
 background-color: #015247;
 height: 38px;
 text-overflow: ellipsis;

}
.Lvl3 {
 background-color: #042621;
 height:38px;
 text-overflow: ellipsis;
 box-sizing: border-box;
 padding: 13px 0 13px 0;

}
.Lvl1,.Lvl2,.Lvl3{
 font-weight: 400;
 color: #ffffff;
 border: none;
 padding: none;
 outline: none;
 width: 100%;
 overflow: hidden;
}
.right {
  position: relative;
  float: right;
  text-align: right;
  border: none;
  padding: none;
  outline: none;
  margin: 0px 0px 0px 0px;
  min-height: 1px;
  width: 33,3333333333%;
}
.left {
  position: relative;
  float: left;
  text-align: left;
  border: none;
  padding: none;
  outline: none;
  margin: 0px 0px 0px 0px;
  min-height: 1px;
  width: 66,6666666667%;
}
body {
  background-color: #043a32;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 12px;
  line-height: 1.42857143;
  height: 100%;
}  
.right .toggle-text {
  padding: 0;
  display: inline;
  padding-right: 35%;
}